.calendar-panel{
    /*position: absolute;*/
    transition: height 0.5s ease;
    width: 100vw;
    border-radius: 4px;
    border: 1px solid #e4e7ed;
}

.calendar-panel.above-input{
    bottom: .35rem;
}
.calendar-panel.under-input{
    top:.35rem;
}
.calendar-panel .calendar-header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.calendar-panel .calendar-header i{
    cursor: pointer;
    position: absolute;
}
.calendar-panel .calendar-header i:hover{
    color:#40a9ff;
}
.calendar-panel .calendar-header .icon-arrowleftdl{
    left:7px;
}
.calendar-panel .calendar-header .icon-arrowleftl{
    left: 29px;
}
.calendar-panel .calendar-header .icon-arrowrightdl{
    right: 7px;
}
.calendar-panel .calendar-header .icon-arrowrightl{
    right:29px;
}
.calendar-panel .calendar-body{
    padding: 8px 12px;
}
.calendar-panel .calendar-body table{
    border: 0;
    text-align: center;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}
.calendar-panel .today{
    height: 0.03rem;
    border-top:1px solid #dcdfe6;
    text-align: center;

}
.calendar-panel .today > div{
    cursor: pointer;
    display: inline-block;
    color: #40a9ff;

}
.calendar-panel .calendar-body table td,.calendar-panel .calendar-body table th{
    line-height: 15px;
    height: 50px;
    width: 40px;
}
.calendar-panel .calendar-body table td.disabled{
    cursor: not-allowed;
    color:#bcbcbc;
}
.calendar-panel .calendar-body table td:hover.disabled{
    color:#bcbcbc;
}
.calendar-panel .calendar-body table td{
    cursor: pointer;
}
.calendar-panel .calendar-body table td:hover{
    color:#40a9ff;
}
.calendar-panel .calendar-body table td.no-now-month{
    color: rgba(0,0,0,.25);
}
.calendar-panel .calendar-body table td.now-date{
    border-radius: 4px;
    color: #1890ff;
    border: 1px solid #1890ff;
}
.calendar-panel .calendar-body table td.select{
    background: #1890ff;
    color:#fff;
    border-radius: 4px;
}